@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter-v20-latin-regular.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh; 
}

html {
  background-color: #1a1a1a;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  background-color: #111111;
  color: #f5f5f5;
}

header,
footer {
  background-color: #1a1a1a;
  padding: 2rem 6rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 4rem 10rem;
}

.logo {
  color: #f5f5f5;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

section.hero {
  display: flex;
  gap: 6rem;
}

h1 {
  font-size: 2.5rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.hero-text p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5;
  color: #898989;
}

section.slide {
  background-color: #1a1a1a;
  color: #b3b3b3;
  padding: 3rem 4rem;
  width: min(800px, 60%);
  align-self: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

section.slide p {
  line-height: 1.7;
}

section.gallery {
  text-align: center;
  background-color: #111111;
}

img {
  max-width: 100%;
  min-width: 200px;
  height: auto;
  border-radius: 3px;
  object-fit: contain;
}

.hero img {
  max-width: 1000px;
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer .logo {
  padding-right: 20px;
}

footer address {
  font-style: normal;
  color: #898989;
  padding-left: 20px;
  border-left: 1px solid #333;
  font-size: 0.9rem;
}

/* - - - - MEDIA - - - - */
 @media (max-width: 1333px) {
  main {
    padding: 3rem 5rem;
  }

  section.hero {
    gap: 4rem;
  }

  .hero-text {
    gap: 1.5rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  section.hero p {
    font-size: 1.1rem;
  }

}

@media (max-width: 1024px) {
  section.hero {
    flex-direction: column;
    align-items: center;
  }

  .hero img {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  .hero-text {
    gap: 4rem;
  }

  .hero-text p {
    padding: 0 6rem;
    width: 100%;
  }

  section.slide {
    width: 90%;
  }
} 

@media (max-width: 768px) {
  main {
    padding: 2rem 3rem;
  }

  section.slide {
    padding: 2rem 3rem;
  }

  footer {
    padding: 2rem 3.5rem;
  }
}

@media (max-width: 500px){
  header {
    padding: 2rem 2rem;
  }

  main {
    padding: 2rem 1rem;
    gap: 4rem
  }

  .hero-text {
    gap: 3rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .hero-text p {
    padding: 0 1rem;
  }

  section.slide {
    padding: 1.5rem 2rem;
  }

  footer {
    padding: 2rem 2rem;
    flex-direction: column;
    align-items: flex-start;
  }

  footer .logo {
    padding-right: 0;
    padding-bottom: 15px;
  }

  footer address {
    padding-left: 0;
    padding-top: 15px;
    border-left: none;
    border-top: 1px solid #333;
  }
}